pkgbase = imcsim
	pkgdesc = Circuit simulator with an immediate mode interface, powered by ngspice
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/ronnymilleo/imcsim
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = pkgconf
	makedepends = libxcursor
	makedepends = libxi
	makedepends = libxfixes
	makedepends = libxinerama
	makedepends = libxrandr
	makedepends = libxss
	makedepends = libxtst
	makedepends = libxkbcommon
	makedepends = wayland
	makedepends = wayland-protocols
	makedepends = libdecor
	makedepends = mesa
	depends = gcc-libs
	depends = glibc
	depends = ngspice
	depends = libx11
	depends = libxext
	depends = libxcursor
	depends = wayland
	depends = libxkbcommon
	depends = libdecor
	depends = vulkan-icd-loader
	depends = hicolor-icon-theme
	optdepends = vulkan-driver: Vulkan support for your GPU
	source = imcsim::git+https://github.com/ronnymilleo/imcsim.git#tag=v0.6.0
	source = SDL::git+https://github.com/libsdl-org/SDL.git
	source = imgui::git+https://github.com/ocornut/imgui.git
	source = implot::git+https://github.com/epezent/implot.git
	source = json::git+https://github.com/nlohmann/json.git
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = imcsim
